{

	"learning_rate": 0.001,

	"num_epochs": 100,

	"save_epoch_period": 50,

	"train": "False",

	"trained_weights_path": "../Checkpoints/dense_keyboard_tmp/",

	"data_path": "../Data/keyboard_acoustic/",

	"load_model": "True",

	"load_weights": "True",

	"load_ckpt_number": 0,

	"test_data_path": ["../Data/keyboard_acoustic/keyboard_acoustic_018-070-075.wav", "../Data/keyboard_acoustic/keyboard_acoustic_007-077-050.wav", "../Data/keyboard_acoustic/keyboard_acoustic_014-059-025.wav", "../Data/keyboard_acoustic/keyboard_acoustic_002-084-050.wav"]
}
