{

	"learning_rate": 0.001,

	"num_epochs": 5,

	"save_epoch_period": 1,

	"train": "True",

	"trained_weights_path": "../Checkpoints/conv_tmp/",

	"data_path": "../Data/keyboard_acoustic/",

	"load_model": "False",

	"load_weights": "False",

	"load_ckpt_number": 0,

	"test_data_path": ["../Data/keyboard_acoustic/keyboard_acoustic_000-091-075.wav"]
}
