{

	"learning_rate": 0.001,

	"num_epochs": 100,

	"save_epoch_period": 50,

	"train": "False",

	"trained_weights_path": "../Checkpoints/aws_mlp_mse/",

	"data_path": "../Data/keyboard_acoustic/",

	"load_model": "True",

	"load_weights": "True",

	"load_ckpt_number": 0,

  "test_data_path": ["../Data/keyboard_acoustic/keyboard_acoustic_018-070-075.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_007-077-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_014-059-025.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_002-084-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_016-074-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_001-092-075.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_006-083-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_001-100-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_005-083-100.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_019-065-100.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_007-079-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_005-047-100.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_017-082-075.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_014-044-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_007-050-025.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_005-081-025.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_005-076-127.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_018-088-025.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_005-100-050.wav",
       "../Data/keyboard_acoustic/keyboard_acoustic_019-063-100.wav"]
}
